.calSquare, .weekday {
	float:left;
	width:14.2857143%;
	height:14.2857143%;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

.empty {
	color:rgba(0,0,0, .33);
}

.calGrid {
	margin-bottom: 1.5em;
}

#calMonthDisp, #calYearDisp  {
	width:50%;
	text-align: left;
	display: inline;
	padding:0;
	margin-right:.5em;
}

#monthMenu a, #yearMenu a {
	padding: .5em .5em;
	display: inline-block;
	text-decoration: none;
}

.week {
	display: inline-block;
	width:100%;

}

.hovStyle {
	-moz-transition: background-color .2s ease-in;
	-o-transition: background-color .2s ease-in;
	-webkit-transition: background-color .2s ease-in;
	transition: background-color .2s ease-in;
	text-decoration: none;
	cursor: pointer;
}

.hovStyle:hover, .selected {
	background-color: rgba(0,0,0, 1);
	color: white;
}

.week:hover {
	background-color: rgba(0,0,0, .03);
	color: inherit;
	cursor:pointer;
}

.week.selected {
	background-color: rgba(0,0,0, .06);
	color: inherit;
}
